body{
	font-family: Raleway;
}
.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F3A93;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 12px;
}

.navbar-list li {
    float: left;
}

.navbar-list li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 3rem;
    text-decoration: none;
    border-right: 1px solid #aaa;
}

li a:hover {
    background-color: #446CB3;
}

#content{
	position: absolute;
	top: 3rem;
	bottom: 0px;
	width: 100%;
	padding: 3rem;
	display: flex;
	align-items: stretch;
	box-sizing: border-box;
}

#left{
	width: 20%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}
#right{
	width: 80%;
	border: 1px solid #aaa;
	padding: 10px 3em;
	overflow-y: auto;
}

#content_tower{display: none;}

#content_fight{display: block;}

#content_training{display: none;}

#content_trophies{display: none;}