.box{
	text-align: left;
}

.mathematic{
	width: 200px;
}

.row{
	display: flex;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	background-color: #f0f0f0;
}

.imagebox{
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.textbox{
	padding:0px 35px;
	display: flex;
	flex-grow: 2;
	align-items: center;
}